 .brand-color{
    color: white;
    font-weight: 600;
    font-size: 25px;
    background-color: brown;
    padding: 5px;
    border-radius: 10px;
 }


 .news-design{

    color: brown;
    font-weight: 600;
    font-size: 20px;
    text-decoration: underline;
 }

p{
    text-overflow: ellipsis;
}

.thumb-img{
width: 40px;
height: 40px;
}